body, html{
     height: 100%;
 	background-repeat: no-repeat;
 	background-color:white ;
 	font-family: 'Oxygen', sans-serif;
}






.loginpage{

     background-color: lightblue;
    border: 5px solid black;
    width:500px;
    height:360px;
    top: 200px;

    margin-top:100px;
    margin-left:400px;
    margin-bottom:50px;

    font-size: 25px ;
	   font-style: normal;
	   font-variant: normal;
	   font-weight: 500px;




}


.loginformdiv{

   width:400px;
    height:300px;
    background-color: lightblue;
    margin-left:500px;
    margin-right:50px;
    margin-top:30px;
    font-family: Arial;
    font-size: 25px ;
	font-style: normal;
	font-variant: normal;
	font-weight:500;


}


#InputName[type = text]{

  width:300px;
    height:40px;
    margin-top:80px;
    margin-left:100px;
     font-size: 15px ;
 background-color:white;

}



#fullname{

      width:480px;
    height:40px;
    margin-top:0px;
  margin-left:10px;
     font-size: 15px ;
 background-color:white;

}


#userid{

    width:480px;
    height:40px;
    margin-top:0px;
    margin-left:10px;
     font-size: 15px ;
 background-color:white;

}


#email{

  width:480px;
    height:40px;
    margin-top:0px;
    margin-left:10px;
     font-size: 15px ;
 background-color:white;



}


#userdate{

   width:180px;
    height:40px;
    display :inline;
    margin-left:70px;
     margin-top:0px;
}


#mobileno{

  width:180px;
    height:40px;
    display :inline;
    margin-left:10px;
     margin-top:0px;

}
#confirm{

   width:180px;
    height:40px;

     margin-left:5px;
 display :inline;
   margin-top:0px;

}



#password{

  width:180px;
    height:40px;
    display :inline;
     margin-left:10px;
     margin-top:0px;

}






#InputPassword[ type = password]{

     width:300px;
    height:40px;
    margin-top:50px;
    margin-left:100px;
     font-size: 15px ;
 background-color:white;

}


#login{

   width:100px;
    height:50px;
    margin-top:40px;
    margin-left:30px;
  background: url('images/login.png')
}
#remotelogin{

   width:170px;
    height:50px;
    margin-top:40px;
   margin-left:30px;
  background: url('images/remote.png')
}

#signup{

   width:100px;
    height:50px;
    margin-top:40px;
   margin-left:30px;
  background: url('images/sign.png')

}
#signup :  hover{

 background-color : "lightgrey";


}


.logpage{

    font-size: 50px;
   margin-bottom: 50px;
   margin-top: 10px;


}



 #registerform{

           width:100%;
           height:100%;
           opacity:.95;
            top:-15px;
            left:10px;
            display:none;
            position:fixed;
            background-color:grey;


 }


  #subreg{

          position:absolute;
           left:50%;
           top:5%;
           margin-left:-202px;


           border-style :solid;
           border-width :5px;
           background-color:lightblue;
           width :450px;
           height:600px;

            font-family: Arial;

	        font-style: normal;
	        font-variant: normal;
	        font-weight: 500;
             overflow-y:scroll;
      overflow-x:scroll;
  }



  .invalid{

   color :  red;

  }



   #name{

       margin-top:150px;
        font-size: 20px ;
         display: inline;
           font-size: 15px
   }


     #password{
    font-size: 15px

   }











     #register{

     width : 120px;
     height :50px;
       margin-Left : 150px;
     margin-Top : 10px;
       margin-bottom : 20px;

    background: url('images/register.png')  center no-repeat white;
     }

     #close{

     width : 45px;
     height : 40px;
     margin-Left : 390px;
     margin-Top : -550px;
     display: block;

     background: url('images/close.png')  center no-repeat white;



     }




     .Date{
      background-image: url("images/ui-icons_d8e7f3_256x240.png");
      width: 120em;
    height: 12em;

     }



#sample{

     width: 40px;
  height: 40px;





}



#save{

     margin-left: 20px;
     margin-top: 10px;

}
#exit{

     margin-left: 20px;
     margin-top: 10px;

}
body.modal-open,
.modal-open .navbar-fixed-top,
.modal-open .navbar-fixed-bottom {
  margin-right: 0;
}

.modal {
  left: 50%;
  bottom: auto;
  right: auto;
  z-index: 1050;
  padding: 0;
  width: 500px;
  margin-left: -250px;
  background-color: #ffffff;
  border: 1px solid #999999;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
  box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
  background-clip: padding-box;
}

.modal.container {
  max-width: none;
}

.modal-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1040;
}


#userdatelabel{


   margin-left:50px;
  display: block;

}


#mobilelabel{




}



#usernamelabel{


   margin-left:10px;

}



#useridlabel{

    margin-left:10px;
}

#useremaillabel{


     margin-left:10px;

}

#userpasswordlabel{

      margin-left:-30px;


}


#userconfirmpasswordlabel{
     margin-left:150px;

}
 #show{
 margin-top:10px;

 }
 #showConfirmPassword{
 margin-top:10px;

 }
