body, html{
     height: 100%;
 	background-repeat: no-repeat;
 	background-color:white ;
 	font-family: 'Oxygen', sans-serif;
}
  





.loginpage{
    
     background-color: lightblue;
    border: 5px solid black;
    width:500px;
    height:360px;
    top: 200px;
   
    margin-top:100px;
    margin-left:400px; 
    margin-bottom:50px;
   
    font-size: 25px ;
	   font-style: normal;
	   font-variant: normal;
	   font-weight: 500px;
    
    
    
    
}


.loginformdiv{
     
   width:400px;
    height:300px;
    background-color: lightblue;
    margin-left:500px;
    margin-right:50px;
    margin-top:30px;
    font-family: Arial;
    font-size: 25px ;
	font-style: normal;
	font-variant: normal;
	font-weight:500;

    
}


#InputName[type = text]{
     
  width:300px;
    height:40px;
    margin-top:80px;
    margin-left:100px;
     font-size: 15px ;
 background-color:white;
   
}



#InputPassword[ type = password]{
     
     width:300px;
    height:40px;
    margin-top:50px;
    margin-left:100px;
     font-size: 15px ;
 background-color:white;
    
}


#login{
  
   width:100px;
    height:50px;
    margin-top:40px;
   margin-left:100px;
  background: url('images/login.png') 
}


#signup{
  
   width:100px;
    height:50px;
    margin-top:40px;
   margin-left:50px;
  background: url('images/sign.png') 
    
}
#signup :  hover{
  
 background-color : "lightgrey";
   
    
}


.logpage{

    font-size: 50px;
   margin-bottom: 50px;
   margin-top: 10px;
     
    
}



 #registerform{
     
           width:100%;
           height:100%;
           opacity:.95;
            top:-15px;
            left:10px;
            display:none;
            position:fixed;
            background-color:grey;
            
          
 }  
   
   
  #subreg{
      
          position:absolute;
           left:50%;
           top:5%;
           margin-left:-202px;
    
    
           border-style :solid;
           border-width :5px;
           background-color:lightblue;
           width :450px;
           height:600px;
           
            font-family: Arial;
           
	        font-style: normal;
	        font-variant: normal;
	        font-weight: 500;
             overflow-y:scroll;
      overflow-x:scroll;
  } 
   
   
   
  .invalid{
   
   color :  red;
   
  } 
   
   
   
   #name{
       
       margin-top:150px;
        font-size: 20px ;
         display: inline;
           font-size: 15px   
   }
   
   
     #password{
    font-size: 15px   
       
   }
   
   
   
   
   
   
   
   
   
   
   
     #register{

     width : 120px;
     height :50px;
       margin-Left : 150px;
     margin-Top : 10px; 
       margin-bottom : 20px; 
        
    background: url('images/register.png')  center no-repeat white;  
     }
     
     #close{
     
     width : 45px;
     height : 40px;
     margin-Left : 390px;
     margin-Top : -550px;
     display: block;
   
     background: url('images/close.png')  center no-repeat white;  
     
      
      
     }
     
     
     
     
     .Date{
      background-image: url("images/ui-icons_d8e7f3_256x240.png");
      width: 120em;
    height: 12em;
    
     } 



#sample{
    
     width: 40px;
  height: 40px;
    
    
    
    
    
}


.input-group-lg > .form-control{
    
 width: 450px;
 height: 30px;
}

.InputEmail >.form-control {
    
    margin-left: 200px;
    
}

*[role="form"] {
    max-width: 0px;
    padding: 10px;
    margin-left: 20px;
    margin-top: 10px;
   
    border-radius: 0.3em;
}

#save{
    
     margin-left: 20px;
     margin-top: 10px;
    
}
#exit{
    
     margin-left: 20px;
     margin-top: 10px;
    
}



