






@media only screen and (max-width: 1020px),(min-device-width: 768px) and (max-device-width: 1024px)  {



#deletebutton{
      
      width: 30px;
      height:30px;
       background-Image: url('images/remove.png') ;
      	background-size: 30px 30px;
  }
   #editbutton{
      
    width: 30px;
      height:30px;
        background-Image: url('images/edit.png') ;
      	background-size: 30px 30px;
  }
	/* Force table to not be like tables anymore */
	table, thead, tbody, th, td, tr { 
		display: block; 
	}
	
	/* Hide table headers (but not display: none;, for accessibility) */
	thead tr { 
	display : block;
		top: -9999px;
		left: -500px;
	}
	
	tr {	display :block;
		top: -9999px;
		left: 500px; border: 1px solid #ccc; }
	
	td { 
		/* Behave  like a "row" */
		border: none;
		border-bottom: 1px solid #eee; 
		position: relative;
		padding-left: 50%; 
	}
	
	td:before { 
		/* Now like a table header */
		position: absolute;
		/* Top/left values mimic padding */
		top: 6px;
		left: 6px;
		width: 45%; 
		padding-right: 10px; 
		white-space: nowrap;
	}
	
	/*
	Label the data
	*/	
	td:nth-of-type(1):before { content: "No"; }
	td:nth-of-type(2):before { content: "Name"; }
	td:nth-of-type(3):before { content: "Password"; }
	td:nth-of-type(4):before { content: "Website"; }
	td:nth-of-type(5):before { content: "Hint"; }
	td:nth-of-type(6):before { content: "Date"; }
	td:nth-of-type(7):before { content: "Action"; }
}




@media  screen and (max-width:500px){
  #deletebutton{
      
      width: 30px;
      height:30px;
       background-Image: url('images/remove.png') ;
      	background-size: 30px 30px;
  }
   #editbutton{
      
    width: 30px;
      height:30px;
        background-Image: url('images/edit.png') ;
      	background-size: 30px 30px;
  }
    
  /* Force table to not be like tables anymore */
  thead, tbody, th, td, tr {
   
   
    margin-left:-70px;

    display: block;
  }
  
  table {
   
   
    width: 5pc;
      margin-left: 10px;
    overflow: auto;
    display: block;
  }
  
  /* Hide table headers (but not display: none;, for accessibility) */
  thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }
  tr {
     
    border: 1px solid #ccc;
  }
  #example td {
    /* Behave  like a "row" */
    border: none;
    border-bottom: 1px solid #eee;
    position: relative;
    padding-left: 50%;
  }
  td : before {
    /* Now like a table header */
    position: relative;
    
    top: 15px;
    left:6px;
    width: 45px;
   
   
  }
 
  	td:nth-of-type(1):before { content: "No :"; }
	td:nth-of-type(2):before { content: "Name :"; }
	td:nth-of-type(3):before { content: "Password :"  ; }
	td:nth-of-type(4):before { content: "Website : " ; }
	td:nth-of-type(5):before { content: "Hint :"; }
	td:nth-of-type(6):before { content: "Date :"; }
	td:nth-of-type(7):before { content: "Action :"; }
    
      
  }

/* Smartphones (portrait and landscape) ----------- */


@media only screen and (min-device-width: 320px) and (max-device-width: 500px) {

 
  body {
    padding: 0;
    margin: 0;
    width: 320px;
  }
 #deletebutton{
      
      width: 30px;
      height:30px;
       background-Image: url('images/remove.png') ;
      	background-size: 30px 30px;
  }
   #editbutton{
      
    width: 30px;
      height:30px;
        background-Image: url('images/edit.png') ;
      	background-size: 30px 30px;
  }
   thead, tbody, th, td, tr {

    margin-left: 5px;

    display: block;
  }
  
  table {
   
   
      width: 50pc;
      margin-left: 30px;
      overflow: auto;
      display: block;
  }
  
  /* Hide table headers (but not display: none;, for accessibility) */
  thead tr {
      display: none;
    position: absolute;
    top: 50px;
    left: 50px;
  }
  tr {
     
    border: 1px solid #ccc;
  }
  #example td {
  
    border: none;
    border-bottom: 1px solid #eee;

     padding:0%;
  }
  td : before {
    
    
    top: 15px;
    left:0px;
   
   padding:0%;
   
  }
 
    td:nth-of-type(1):before { content: "No :"; }
	td:nth-of-type(2):before { content: "Name :"; }
	td:nth-of-type(3):before { content: "Password :"  ; }
	td:nth-of-type(4):before { content: "Website : " ; }
	td:nth-of-type(5):before { content: "Hint :"; }
	td:nth-of-type(6):before { content: "Date :"; }
	td:nth-of-type(7):before { content: "Action :"; }
    
      
}


/*
@media only screen and (min-width:200px) and (max-width: 320px) {
 
  body {
    padding: 0;
    margin: 0;
    width: 200px;
  }
 #deletebutton{
      
      width: 30px;
      height:30px;
       background-Image: url('images/remove.png') ;
      	background-size: 30px 30px;
  }
   #editbutton{
      
    width: 30px;
      height:30px;
        background-Image: url('images/edit.png') ;
      	background-size: 30px 30px;
  }
    #example thead, tbody, th, td, tr {

display:block;
    

  }
  
table {
  
       display: block;
      margin-right:70px;

  
  }
  
      
  
  
 
   #example thead tr {
      display: block;
   
  
		top: 50px;
		left: 50%;
   
  }
   #example tr {
     
   
  }
  #example td {
   width :200px;
 top: 55px;
   left:55px;
     padding: 20%; 
  border: 1px solid #ccc; 
  text-align: left;   

     
  }
  td : before {
    
    width :200px;
    top: 55px;
   left:55px;
     padding: 20%; 
  border: 1px solid #ccc; 
  text-align: center; 
  
   
  }
 
    td:nth-of-type(1):before { content: "No :"; }
	td:nth-of-type(2):before { content: "Name :"; }
	td:nth-of-type(3):before { content: "Password :"  ; }
	td:nth-of-type(4):before { content: "Website : " ; }
	td:nth-of-type(5):before { content: "Hint :"; }
	td:nth-of-type(6):before { content: "Date :"; }
	td:nth-of-type(7):before { content: "Action :"; }
    
      
}
*/


@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  body {
    width: 495px;
  }
  #deletebutton{
      
      width: 30px;
      height:30px;
       background-Image: url('images/remove.png') ;
      	background-size: 30px 30px;
  }
   #editbutton{
      
    width: 30px;
      height:30px;
        background-Image: url('images/edit.png') ;
      	background-size: 30px 30px;
  }
  #userdetail{
   
    background-color: white;
    border: 5px solid black;
    width:610px;
    height:500px;
    
      margin-top:0px;
    margin-left:300px; 
 
    margin-bottom:50px;
   
    font-size: 25px ;
	   font-style: normal;
	   font-variant: normal;
	   font-weight: 500;
    display : block;
 } 
 
 
  
      #userform{
    
    width:510px;
    height:400px;
    background-color: lightblue;
    margin-left:50px;
    margin-right:50px;
    margin-top:40px;
    font-family: Arial;
    font-size: 25px ;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
}
   
   
   ul.pagination li a {
    color: black;
    float: left;
    padding: 8px;
    text-decoration: none;
}
   
   
  
}



@media only screen  and (min-width:200px) and (max-width:300px)  {
   






   #usericon{
      
      width:70px;
      height:60px;
      background: url('images/usericon.png') center no-repeat white;  
    background-repeat: no-repeat;
  
   padding-right: 10px;
   text-indent: 0.01px;
   display:block;
   margin-left:200px;
    
      
   }
   
   #userrightname{
       
       
       position:relative;
       
        margin-left:150px;
        font-size: 15px;
       
   }
   
   

#right{
    
     width:25pc;
    height:9pc;

    
}





#userdetail{
    
   
    width:220px;
    height:500px;
     margin-left:70px;
      margin-top:50px;
     
}

#userform{
    
    
    width:200px;
    height:450px;
    margin-left:11px;
     margin-top:20px;
}




#username{
    
 
    
    width:150px;
     margin-left:20px;
     
}

#userpassword{
    
 
    
    width:150px;
     margin-left:20px;
     
}

#userwebsite{
    
 
    
    width:150px;
     margin-left:20px;
     
}

#userhint{
    
 
    
    width:150px;
     margin-left:20px;
     
}




#add{
    
width:50px;
height:50px;

}
    
#get{
    
    width:50px;
height:50px;
margin-left:70px;
    
}   

#getall{
  
    
    width:50px;
    height:50px;
    margin-left:130px; 
    
}



#clear{
    
    
width:50px;
height:50px;
margin-top:10px;
margin-left:10px; 

   
}
#setting{
    
    
width:50px;
height:50px;

margin-left:70px; 

   
}






.rightdiv{
    
    
    width:50px;
    height:50px;
}
    
}














@media only screen  and (min-width:300px) and (max-width:400px)  {
   






   #usericon{
      
      width:70px;
      height:60px;
      background: url('images/usericon.png') center no-repeat white;  
    background-repeat: no-repeat;
  
   padding-right: 10px;
   text-indent: 0.01px;
   display:block;
   margin-left:300px;
    
      
   }
   
   #userrightname{
       
       
       position:relative;
       
        margin-left:240px;
        font-size: 15px;
       
   }
   
   

#right{
    
     width:25pc;
    height:6pc;

    
}





#userdetail{
    
   
    width:250px;
    height:500px;
     margin-left:70px;
      margin-top:50px;
     
}

#userform{
    
    
    width:200px;
    height:450px;
    margin-left:25px;
     margin-top:20px;
}




#username{
    
 
    
    width:150px;
     margin-left:20px;
     
}

#userpassword{
    
 
    
    width:150px;
     margin-left:20px;
     
}

#userwebsite{
    
 
    
    width:150px;
     margin-left:20px;
     
}

#userhint{
    
 
    
    width:150px;
     margin-left:20px;
     
}




#add{
    
width:50px;
height:50px;

}
    
#get{
    
    width:50px;
height:50px;
margin-left:70px;
    
}   

#getall{
  
    
    width:50px;
    height:50px;
    margin-left:130px; 
    
}



#clear{
    
    
width:50px;
height:50px;
margin-top:10px;
margin-left:10px; 

   
}
#setting{
    
    
width:50px;
height:50px;

margin-left:70px; 

   
}






.rightdiv{
    
    
    width:50px;
    height:50px;
}
    
}


@media only screen  and (min-width:400px) and (max-width:450px)  {
   

#usericon{
      
      width:70px;
      height:60px;
      background: url('images/usericon.png') center no-repeat white;  
    background-repeat: no-repeat;
  
   padding-right: 10px;
   text-indent: 0.01px;
   display:block;
   margin-left:320px;
    
      
   }
   
   #userrightname{
       
       
       position:relative;
       
        margin-left:240px;
        font-size: 15px;
       
   }
   

#right{
    
     width:30pc;
    height:5pc;
    
    
}

#userdetail{
    
   
    width:320px;
    height:450px;
     margin-left:80px;
      margin-top:80px;
}

#userform{
    
    
    width:220px;
    height:400px;
    margin-left:50px;
     margin-top:25px;
}




#username{
    
 
    
    width:150px;
    height:30px;
     margin-left:30px;
      margin-top:40px;
     
}

#userpassword{
    
 
    
    width:150px;
     height:30px;
     margin-left:30px;
     
}

#userwebsite{
    
 
    
    width:150px;
     height:30px;
     margin-left:30px;
     
}

#userhint{
    
 
    
    width:150px;
     height:30px;
     margin-left:30px;
     
}




#add{
    
width:50px;
height:50px;

}
    
#get{
    
    width:50px;
height:50px;
margin-left:70px;
    
}   

#getall{
  
    
    width:50px;
    height:50px;
    margin-left:130px; 
    
}



#clear{
    
    
width:50px;
height:50px;
margin-top:10px;
margin-left:10px; 

   
}
#setting{
    
    
width:50px;
height:50px;

margin-left:70px; 

   
}






.rightdiv{
    
    
    width:50px;
    height:50px;
}
    
}
@media only screen  and (min-width:450px) and (max-width:500px)  {
   
#usericon{
      
      width:70px;
      height:60px;
      background: url('images/usericon.png') center no-repeat white;  
    background-repeat: no-repeat;
  
   padding-right: 10px;
   text-indent: 0.01px;
   display:block;
   margin-left:350px;
    
      
   }
   
   #userrightname{
       
       
       position:relative;
       
        margin-left:280px;
        font-size: 15px;
       
   }
   


#right{
    
     width:30pc;
    height:6pc;
    margin-left:10px;
    
}

#userdetail{
    
   
    width:400px;
    height:500px;
     margin-left:30px;
      margin-top:80px;
}

#userform{
    
    
    width:300px;
    height:400px;
    margin-left:50px;
     margin-top:50px;
}




#username{
    
 
    
    width:200px;
    height:30px;
     margin-left:50px;
     
     
}

#userpassword{
    
 
      
    width:200px;
     height:30px;
     margin-left:50px;
     
}

#userwebsite{
    
 
    
     
    width:200px;
     height:30px;
     margin-left:50px;
     
}

#userhint{
    
 
    
      
    width:200px;
     height:30px;
     margin-left:50px;
     
}




#add{
    
width:50px;
height:50px;
margin-left:50px;
}
    
#get{
    
    width:50px;
height:50px;
margin-left:120px;
    
}   

#getall{
  
    
    width:50px;
    height:50px;
    margin-left:190px; 
    
}



#clear{
    
    
width:50px;
height:50px;
margin-top:10px;
margin-left:80px; 

   
}
#setting{
    
    
width:50px;
height:50px;

margin-left:140px; 

   
}






.rightdiv{
    
    
    width:50px;
    height:50px;
}
    
}
@media only screen  and (min-width:500px) and (max-width:550px)  {
   
#usericon{
      
      width:100px;
      height:70px;
      background: url('images/usericon.png') center no-repeat white;  
    background-repeat: no-repeat;
  
   padding-right: 10px;
   text-indent: 0.01px;
   display:block;
   margin-left:380px;
     margin-top:10px;
      
   }
   
   #userrightname{
       
       
       position:relative;
       
        margin-left:300px;
        font-size: 20px;
       margin-top:10px;
   }
   

#right{
    
     width:32pc;
    height:9pc;
 
    
}

#userdetail{
    
   
    width:400px;
    height:520px;
     margin-left:50px;
      margin-top:80px;
}

#userform{
    
    
    width:300px;
    height:400px;
    margin-left:50px;
     margin-top:50px;
}




#username{
    
 
    
    width:200px;
    height:30px;
     margin-left:50px;
     
     
}

#userpassword{
    
 
      
    width:200px;
     height:30px;
     margin-left:50px;
     
}

#userwebsite{
    
 
    
     
    width:200px;
     height:30px;
     margin-left:50px;
     
}

#userhint{
    
 
    
      
    width:200px;
     height:30px;
     margin-left:50px;
     
}




#add{
    
width:50px;
height:50px;
margin-left:50px;
}
    
#get{
    
    width:50px;
height:50px;
margin-left:120px;
    
}   

#getall{
  
    
    width:50px;
    height:50px;
    margin-left:190px; 
    
}



#clear{
    
    
width:50px;
height:50px;
margin-top:10px;
margin-left:80px; 

   
}
#setting{
    
    
width:50px;
height:50px;

margin-left:140px; 

   
}






.rightdiv{
    
    
    width:50px;
    height:50px;
}
    
}
@media only screen  and (min-width:550px) and (max-width:600px)  {
   


 #usericon{
      
      width:100px;
      height:70px;
      background: url('images/usericon.png') center no-repeat white;  
    background-repeat: no-repeat;
  
   padding-right: 10px;
   text-indent: 0.01px;
   display:block;
   margin-left:450px;
     margin-top:10px;
      
   }
   
   #userrightname{
       
       
       position:relative;
       
        margin-left:380px;
        font-size: 20px;
       margin-top:10px;
   }
   

#right{
    
     width:36pc;
    height:9pc;
    
    
}

#userdetail{
    
   
    width:400px;
    height:500px;
     margin-left:80px;
      margin-top:80px;
}

#userform{
    
    
    width:300px;
    height:400px;
    margin-left:50px;
     margin-top:50px;
}




#username{
    
 
    
    width:200px;
    height:30px;
     margin-left:50px;
     
     
}

#userpassword{
    
 
      
    width:200px;
     height:30px;
     margin-left:50px;
     
}

#userwebsite{
    
 
    
     
    width:200px;
     height:30px;
     margin-left:50px;
     
}

#userhint{
    
 
    
      
    width:200px;
     height:30px;
     margin-left:50px;
     
}




#add{
    
width:50px;
height:50px;
margin-left:50px;
}
    
#get{
    
    width:50px;
height:50px;
margin-left:120px;
    
}   

#getall{
  
    
    width:50px;
    height:50px;
    margin-left:190px; 
    
}



#clear{
    
    
width:50px;
height:50px;
margin-top:10px;
margin-left:80px; 

   
}
#setting{
    
    
width:50px;
height:50px;

margin-left:140px; 

   
}






.rightdiv{
    
    
    width:50px;
    height:50px;
}
    
}

@media only screen  and (min-width:600px) and (max-width:650px)  {
   
   
#usericon{
      
      width:100px;
      height:70px;
      background: url('images/usericon.png') center no-repeat white;  
    background-repeat: no-repeat;
  
   padding-right: 10px;
   text-indent: 0.01px;
   display:block;
   margin-left:510px;
     margin-top:10px;
      
   }
   
   #userrightname{
       
       
       position:relative;
       
        margin-left:430px;
        font-size: 20px;
       margin-top:10px;
   }
   



#right{
    
     width:40pc;
    height:9pc;
    
    
}

#userdetail{
    
   
    width:400px;
    height:550px;
     margin-left:110px;
      margin-top:80px;
}

#userform{
    
    
    width:300px;
    height:450px;
    margin-left:50px;
     margin-top:50px;
}




#username{
    
 
    
    width:200px;
    height:30px;
     margin-left:50px;
     
     
}

#userpassword{
    
 
      
    width:200px;
     height:30px;
     margin-left:50px;
     
}

#userwebsite{
    
 
    
     
    width:200px;
     height:30px;
     margin-left:50px;
     
}

#userhint{
    
 
    
      
    width:200px;
     height:30px;
     margin-left:50px;
     
}




#add{
    
width:50px;
height:50px;
margin-left:50px;
}
    
#get{
    
    width:50px;
height:50px;
margin-left:120px;
    
}   

#getall{
  
    
    width:50px;
    height:50px;
    margin-left:190px; 
    
}



#clear{
    
    
width:50px;
height:50px;
margin-top:10px;
margin-left:80px; 

   
}
#setting{
    
    
width:50px;
height:50px;

margin-left:140px; 

   
}






.rightdiv{
    
    
    width:50px;
    height:50px;
}
    
}

@media only screen  and (min-width:650px) and (max-width:750px) {
   
  
#usericon{
      
      width:100px;
      height:70px;
      background: url('images/usericon.png') center no-repeat white;  
    background-repeat: no-repeat;
  
   padding-right: 10px;
   text-indent: 0.01px;
   display:block;
   margin-left:580px;
     margin-top:10px;
      
   }
   
   #userrightname{
       
       
       position:relative;
       
        margin-left:510px;
        font-size: 20px;
       margin-top:10px;
   }
   


#right{
    
     width:45pc;
    height:9pc;
    
    
}

#userdetail{
    
   
    width:400px;
    height:550px;
     margin-left:160px;
      margin-top:80px;
}

#userform{
    
    
    width:300px;
    height:450px;
    margin-left:50px;
     margin-top:50px;
}




#username{
    
 
    
    width:200px;
    height:30px;
     margin-left:50px;
     
     
}

#userpassword{
    
 
      
    width:200px;
     height:30px;
     margin-left:50px;
     
}

#userwebsite{
    
 
    
     
    width:200px;
     height:30px;
     margin-left:50px;
     
}

#userhint{
    
 
    
      
    width:200px;
     height:30px;
     margin-left:50px;
     
}




#add{
    
width:50px;
height:50px;
margin-left:50px;
}
    
#get{
    
    width:50px;
height:50px;
margin-left:120px;
    
}   

#getall{
  
    
    width:50px;
    height:50px;
    margin-left:190px; 
    
}



#clear{
    
    
width:50px;
height:50px;
margin-top:30px;
margin-left:80px; 

   
}
#setting{
    
    
width:50px;
height:50px;

margin-left:140px; 

   
}






.rightdiv{
    
    
    width:50px;
    height:50px;
}
    
}


@media only screen  and (min-width:750px) and (max-width:800px)  {
   
  
#usericon{
      
      width:100px;
      height:70px;
      background: url('images/usericon.png') center no-repeat white;  
    background-repeat: no-repeat;
  
   padding-right: 10px;
   text-indent: 0.01px;
   display:block;
   margin-left:660px;
     margin-top:10px;
      
   }
   
   #userrightname{
       
       
       position:relative;
       
        margin-left:550px;
        font-size: 20px;
       margin-top:10px;
   }
   


#right{
    
     width:50pc;
    height:10pc;
    
    
}

#userdetail{
    
   
    width:400px;
    height:550px;
     margin-left:180px;
      margin-top:80px;
}

#userform{
    
    
    width:300px;
    height:450px;
    margin-left:50px;
     margin-top:50px;
}




#username{
    
 
    
    width:200px;
    height:30px;
     margin-left:50px;
     
     
}

#userpassword{
    
 
      
    width:200px;
     height:30px;
     margin-left:50px;
     
}

#userwebsite{
    
 
    
     
    width:200px;
     height:30px;
     margin-left:50px;
     
}

#userhint{
    
 
    
      
    width:200px;
     height:30px;
     margin-left:50px;
     
}




#add{
    
width:50px;
height:50px;
margin-left:50px;
}
    
#get{
    
    width:50px;
height:50px;
margin-left:120px;
    
}   

#getall{
  
    
    width:50px;
    height:50px;
    margin-left:190px; 
    
}



#clear{
    
    
width:50px;
height:50px;
margin-top:30px;
margin-left:80px; 

   
}
#setting{
    
    
width:50px;
height:50px;

margin-left:140px; 

   
}






.rightdiv{
    
    
    width:50px;
    height:50px;
}
    
}

@media only screen  and (min-width:800px) and (max-width:900px)  {
   

  
#usericon{
      
      width:100px;
      height:70px;
      background: url('images/usericon.png') center no-repeat white;  
    background-repeat: no-repeat;
  
   padding-right: 10px;
   text-indent: 0.01px;
   display:block;
   margin-left:710px;
     margin-top:10px;
      
   }
   
   #userrightname{
       
       
       position:relative;
       
        margin-left:650px;
        font-size: 20px;
       margin-top:10px;
   }
   

#right{
    
     width:55pc;
    height:10pc;
    
    
}

#userdetail{
    
   
    width:550px;
    height:500px;
     margin-left:120px;
      margin-top:80px;
}

#userform{
    
    
    width:400px;
    height:400px;
    margin-left:75px;
     margin-top:50px;
}




#username{
    
 
    
    width:200px;
    height:30px;
     margin-left:100px;
     
     
}

#userpassword{
    
 
      
    width:200px;
     height:30px;
      margin-left:100px;
     
}

#userwebsite{
    
 
    
     
    width:200px;
     height:30px;
      margin-left:100px;
     
}

#userhint{
    
 
    
      
    width:200px;
     height:30px;
      margin-left:100px;
     
}




#add{
    
width:70px;
height:50px;
 margin-left:50px; 
}
    
#get{
    
   width:70px;
height:50px;
 margin-left:130px; 
    
}   

#getall{
  
  width:70px;
    height:50px;
   margin-left:210px; 
    
}



#clear{
    
    
width:70px;
height:50px;

   margin-left:290px; 

   
}
#setting{
    
    
width:70px;
height:50px;

   margin-left:50px; 
 margin-top:20px; 
   
}






.rightdiv{
    
    
    width:50px;
    height:50px;
}
    
}



@media only screen  and (min-width:900px) and (max-width:1000px)  
{
   

  
#usericon{
      
      width:100px;
      height:70px;
      background: url('images/usericon.png') center no-repeat white;  
    background-repeat: no-repeat;
  
   padding-right: 10px;
   text-indent: 0.01px;
   display:block;
   margin-left:800px;
     margin-top:10px;
      
   }
   
   #userrightname{
       
       
       position:relative;
       
        margin-left:700px;
        font-size: 20px;
       margin-top:10px;
   }
   

#right{
    
     width:60pc;
    height:10pc;

    
}

#userdetail{
    
   
    width:600px;
    height:500px;
     margin-left:140px;
      margin-top:100px;
}

#userform{
    
    
    width:480px;
    height:400px;
    margin-left:60px;
     margin-top:50px;
}




#username{
    
 
    
    width:250px;
    height:40px;
   margin-left:90px;
     
     
}

#userpassword{
    
    width:250px;
    height:40px;
    margin-left:90px;
     
}

#userwebsite{
    
 
    
    width:250px;
    height:40px;
      margin-left:90px;
     
     
}

#userhint{
    
 
    
      
      width:250px;
    height:40px;
    margin-left:90px;
     
     
}




#add{
    
width:60px;
height:50px;
  margin-left:20px;
}
    
#get{
    
    width:60px;
height:50px;
 
    
}   

#getall{
  
    
    width:60px;
    height:50px;

    
}



#clear{
    
    
width:60px;
height:50px;
 

   
}
#setting{
    
    
width:60px;
height:50px;
 
 

   
}






.rightdiv{
    
    
    width:50px;
    height:50px;
}
    
}
@media only screen  and (min-width:1000px) and (max-width:1200px)  {
   

  
#usericon{
      
      width:100px;
      height:70px;
      background: url('images/usericon.png') center no-repeat white;  
    background-repeat: no-repeat;
  
   padding-right: 10px;
   text-indent: 0.01px;
   display:block;
   margin-left:850px;
     margin-top:10px;
      
   }
   
   #userrightname{
       
       
       position:relative;
       
        margin-left:800px;
        font-size: 20px;
       margin-top:10px;
   }
   

#right{
    
     width:62pc;
    height:10pc;

    
}

#userdetail{
    
   
    width:600px;
    height:500px;
     margin-left:200px;
      margin-top:100px;
}

#userform{
    
    
    width:480px;
    height:400px;
    margin-left:60px;
     margin-top:50px;
}




#username{
    
 
    
    width:250px;
    height:40px;
   margin-left:90px;
     
     
}

#userpassword{
    
    width:250px;
    height:40px;
    margin-left:90px;
     
}

#userwebsite{
    
 
    
    width:250px;
    height:40px;
      margin-left:90px;
     
     
}

#userhint{
    
 
    
      
      width:250px;
    height:40px;
    margin-left:90px;
     
     
}




#add{
    
width:60px;
height:50px;
  margin-left:20px;
}
    
#get{
    
    width:60px;
height:50px;
 
    
}   

#getall{
  
    
    width:60px;
    height:50px;

    
}



#clear{
    
    
width:60px;
height:50px;
 

   
}
#setting{
    
    
width:60px;
height:50px;
 
 

   
}






.rightdiv{
    
    
    width:50px;
    height:50px;
}
    
}
